.editorContainer {
	display: flex;
	border-radius: 7px;
	border: 1px solid var(--main-black-light-color);
	background-color: var(--main-black-dark-color);
	overflow: hidden;
}

.lineNumbers {
	background-color: var(--main-black-light-color-2);
	padding: 10px;
	text-align: right;
	user-select: none;
	color: #fff;
	border-radius: 7px 0 0 7px;
	user-select: none;
}

.lineNumber {
	padding: 0;
	font-size: 13px;
}

.textArea {
	flex: 1;
	border: none;
	padding: 10px;
	resize: none;
	outline: none;
	background-color: var(--main-black-dark-color);
	color: #fff;
	height: 45vh;
	border-radius: 0 7px 7px 0;
	max-height: 350px;
	overflow-x: auto;
	white-space: pre;
}
